<section>
    <h2 class="page-title">Welcome to HYBA 6th Grade</h2>
    <h3>This site contains complete schedule information for the 2013 HYBA 6th grade league.</h3>

    <div>
        <p>
            Use the nav bar at the top to view the <a href="/#/teams">schedule by team</a> and <a href="/#/locations">schedule by location</a> (as well as directions).
        </p>
        <p>
            All questions should be directed towards your coach.
        </p>
        <p>
            Have a great season!
        </p>
    </div>

</section>