<section>
    <h2 class="page-title" data-bind="text: title"></h2>
    <!--<h3 data-bind="text: title"></h3>-->

    <div class="container-fluid" data-bind="foreach: games">
        <div class="row">
            <div class="span2" data-bind="shortDate: time"></div>
            <div class="span1" data-bind="shortTime: time"></div>
            <div class="span4">
                <span data-bind="text: team1" />
                <span data-bind="if: team1TakesScoreboard">
                    <a data-bind="click: $parent.scoreboardAlert"><i class="icon-briefcase"></i></a>
                </span>
                <span> vs. </span>
                <span data-bind="text: team2" />
                <span data-bind="if: team2TakesScoreboard">
                    <a data-bind="click: $parent.scoreboardAlert"><i class="icon-briefcase"></i></a>
                </span>
            </div>
        </div>
    </div>
</section>