<section>
    <h2 class="page-title" data-bind="text: title"></h2>

    <div class="container-fluid" data-bind="foreach: games">
        <div class="row">
            <div class="span2" data-bind="shortDate: time"></div>
            <div class="span1" data-bind="shortTime: time"></div>
            <div class="span2">
                <a data-bind="text: opponent, attr: { href: '#/teams/' + opponent }"></a>
            </div>
            <div class="span3">
                <a data-bind="text: location, attr: { href: '#/locations/' + location }"></a>
                (<a data-bind="attr: { href: locationUrl }">Map</a>)
            </div>

        </div>
    </div>
</section>